# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
ca-certificates=2018.03.07
certifi=2018.4.16
cffi=1.11.5
cycler=0.10.0
freetype=2.8
h5py=2.7.1
hdf5=1.10.1
intel-openmp=2018.0.0
jpeg=9b
kiwisolver=1.0.1
libcxx=4.0.1
libcxxabi=4.0.1
libedit=3.1
libffi=3.2.1
libgfortran=3.0.1
libpng=1.6.34
libtiff=4.0.9
matplotlib=2.2.2
mkl=2018.0.2
mkl_fft=1.0.1
mkl_random=1.0.1
ncurses=6.0
ninja=1.8.2
numpy=1.14.2
olefile=0.45.1
openssl=1.0.2o
pillow=5.0.0
pip=9.0.3
pycparser=2.18
pyparsing=2.2.0
python=3.5.5
python-dateutil=2.7.2
pytorch=0.4.0
pytz=2018.4
readline=7.0
setuptools=39.1.0
six=1.11.0
sqlite=3.23.1
tk=8.6.7
torchvision=0.2.1
tornado=5.0.2
wheel=0.31.0
xz=5.2.3
zlib=1.2.11

